.login-background {
	background:  url(../img/banner4.jpg)no-repeat top center
}

.content-box {
	position: relative;
	height: 100%
}

.form-login-box {
	position: absolute;
	width: 302px;
	top: 114px;
	right: 0;
	padding: 28px 42px;
	border: 1px #E9E9E9 solid;
	background: #fff
}

.login-regi-title {
	height: 25px;
	overflow: hidden
}

.login-regi-title h2 {
	text-align: center;
	line-height: 25px;
	font-size: 18px;
	color: #c9c9c9;
	float: left;
	width: 151px;
	cursor: pointer;
	
}

.login-regi-title h2:first-child {
	width: 150px;
	border-right: 1px solid #DCDCDC;
}

.login-regi-title h2.active {
	color: #482618
}

.login-regi-title h2.regi-user {
	width: 100%
}

.form-content {
	padding-top: 15px
}

.form-content li {
	margin: 10px 0
}

.form-content li.err-text {
	position: static;
	height: 22px
}

.form-content li.err-text span {
	line-height: 22px;
	color: #FF714D
}

.form-content li.err-text span i {
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	margin-right: 5px;
	background: url(../img/icon.png) no-repeat;
	background-position: -41px -44px;
	background-size: 310px 120px;
	position: static
}

.form-content li input {
	width: 290px;
	padding: 0 5px;
	height: 36px;
	border: 1px solid #efefef;
	border-radius: 2px;
	outline: none;
	color: #442818;
	line-height: 38px
}

.form-content li input:focus {
	border: 1px solid #dadada
}

.form-content li input[type="submit"]:focus {
	border: none
}

.form-content li.err-text {
	position: static;
	height: 22px
}

.form-content li.err-text span {
	line-height: 22px;
	color: #FF714D
}

.form-content li.err-text span i {
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	margin-right: 5px;
	background: url(../icon.png) no-repeat;
	background-position: -41px -44px;
	background-size: 310px 120px;
	position: static
}

.form-content li input {
	width: 290px;
	padding: 0 5px;
	height: 36px;
	border: 1px solid #efefef;
	border-radius: 2px;
	outline: none;
	color: #442818;
	line-height: 38px
}

.form-content li input:focus {
	border: 1px solid #dadada
}

.form-content li input[type="submit"]:focus {
	border: none
}

.form-content li.login-img-text {
	height: 38px;
	position: relative;
	width: 302px;
	display: none
}

.form-content li.login-img-text input {
	float: left;
	width: 128px
}

.reister-user li i,
.form-content li.login-img-text i {
	position: absolute;
	height: 16px;
	width: 16px;
	background: url(../img/icon.png) no-repeat;
	background-position: -61px -44px;
	background-size: 310px 120px;
	left: 115px;
	top: 12px;
	display: none
}

.form-control {
	position: relative
}

.form-control i {
	position: absolute;
	height: 16px;
	width: 16px;
	background: url(../img/icon.png) no-repeat;
	background-position: -61px -44px;
	background-size: 310px 120px;
	right: 5px;
	top: 12px;
	display: none
}

.form-content li.login-img-text img {
	float: left;
	margin-left: 10px;
	width: 114px;
	border: 1px solid #efefef;
	height: 36px;
	display: block
}

.form-content li.login-img-text a.refresh-button {
	float: right;
	height: 22px;
	width: 26px;
	display: block;
	background: url(../img/icon.png) no-repeat;
	background-position: -15px -41px;
	background-size: 310px 120px;
	margin-top: 8px
}

.form-content li .login-button {
	display: block;
	background: #442818;
	border-radius: 2px;
	height: 48px;
	width: 302px;
	line-height: 48px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border: 0;
	cursor: pointer;
	color: #fff
}

.form-content li .login-button[disabled="disabled"],
.form-content li .login-button[disabled="disabled"]:hover {
	background: #b6b6b6;
	cursor: not-allowed
}

.login-remember {
	margin-top: 15px;
	overflow: hidden;
	line-height: 18px;
	padding-bottom: 40px
}

.login-remember a {
	display: block;
	float: right;
	margin-left: 18px;
	color: #744f3a
}

.login-remember label {
	display: block;
	float: left;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.login-remember input {
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	cursor: pointer
}

.reading-protocol {
	margin-top: 15px;
	height: 18px;
	line-height: 18px;
	padding-bottom: 40px;
	color: #744F3A
}

.reading-protocol label {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.reading-protocol input {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer
}

.reading-protocol a {
	color: #2a99fa
}

.login-bottom-other i {
	display: inline-block;
	width: 90px;
	height: 1px;
	background: #E7E7E7;
	vertical-align: middle
}

.login-bottom-other span {
	width: 122px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: #B3B3B3;
	line-height: 20px
}

.weixin-login {
	display: block;
	width: 44px;
	height: 35px;
	background: url(../img/login-weixin.png) no-repeat;
	margin: 28px auto;
	background-size: 44px 35px
}

.login-bottom-other {
	margin-top: 30px
}

.login-bottom-other i {
	display: inline-block;
	width: 90px;
	height: 1px;
	background: #E7E7E7;
	vertical-align: middle
}

.login-bottom-other span {
	width: 122px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: #B3B3B3;
	line-height: 20px
}

.form-content li.login-message-vai {
	position: relative;
	height: 38px;
	overflow: hidden
}

.form-content li.login-message-vai ul {
	position: absolute;
	width: 610px;
	left: 0;
	top: 0
}

.form-content li.login-message-vai ul li {
	float: left
}

.form-content li.login-message-vai ul .login-img-text {
	margin: 0
}

.form-content li.login-mes-unm {
	height: 38px;
	margin: 0;
	width: 302px
}

.form-content li.login-mes-unm input {
	width: 128px;
	float: left
}

.form-content li.login-mes-unm a {
	display: block;
	width: 149px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	float: right;
	cursor: pointer;
	background: #FAFAFA;
	border: 1px solid #EBEBEB;
	border-radius: 2px;
	color: #442818
}

.form-content li.login-mes-unm a>span {
	color: #FF714D
}

.form-content li.login-message-vai ul li.message-text {
	margin-left: 6px
}

.reister-user li {
	position: relative
}

.reister-user li i {
	left: 280px
}

.reister-user li i.weak {
	background-position: -80px -44px
}

.reister-user li i.moderate {
	background-position: -97px -44px
}

.reister-user li i.strong {
	background-position: -114px -44px;
	display: block
}

.fresh-verify-code-phone,
.fresh-verify-code {
	float: right;
	height: 22px;
	width: 26px;
	display: block;
	background: url(../img/icon.png) no-repeat;
	background-position: -15px -41px;
	background-size: 310px 120px;
	margin-top: 8px
}